form
{
  height: 850px;
  background: url('../../../assets/img/vino7.jpg') no-repeat center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
{

  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: block;
  margin: 30px;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px black;
  overflow: hidden;
  border: 1px solid ;
  justify-content: center;
}
h1
{
  color: dimgray;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  font-weight: bold;
  text-decoration: solid;
}
h2
{
  color: darkgray;
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
label{
  color: black;
  font-weight: bold;
}
input{
  height: 35px;
  width: 25%;
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
}

p
{
  color: dimgray;
  text-decoration: none;
}
button{
  height: 45px;
  width: 20%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}
.login-form-buttons_signup
{
  height: 45px;
  width: 20%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}
